/* Calendar styling */
.Calendar h1 {
  color: white;
}

.modeButton button {
  color: #ffffff !important;
  font-size: 18px;
}

.Calendar.modeWrapper {
  color: white !important;
}

.Calendar div {
  color: #ffffff !important;
}

.Calendar button {
  color: #ffffff;
  font-size: 18px;
}

.Calendar .modeButtonActive {
  color: #ff3e52 !important;
}
.Calendar > .dailyEventWrapper {
  cursor: pointer !important;
}

.Calendar .eventTitle {
  font-size: 0.8em;
}

/* Button styling */
.BtnCalendar {
  background-color: #ff851c;
  color: #000000;
  font-size: 0.8rem;
  border-radius: 100px;
  border-color: transparent;
  min-width: 75px;
}

h1 {
  color: white;
}
