.Calendar h1 {
    color: white;
}

.modeButton button {
    color: #ffffff !important;
    font-size: 18px;
}

.Calendar.modeWrapper {
    color: white !important;
}

.Calendar div {
    color: #ffffff !important;
}

.Calendar button {
    color: #ffffff;
    font-size: 18px;
}

.Calendar .modeButtonActive {
    color: #ff3e52 !important;
}
.Calendar > .dailyEventWrapper {
    cursor: pointer !important;
}

.Calendar .eventTitle {
    font-size: 0.8em;
}