.NavLink {
    padding: 5px;
}

.Active i {
    color: #ff851c;
}

.NavLinkHover:hover {
    color: #ff851c;
  }

.NavLinkHover i:hover {
    transition: color ease-in-out 0.3s;
}

.NavBar i {
    color: white;
}

a {
    color: white;
}