.Form {
  border: none;
  border-bottom: 2px #ff851c solid;
}

.Button {
  border: none;
  background-color: #ff851c;
  color: aliceblue;
  border-radius: 100px;
  padding: 4px 10px;
  min-width: 75px;
  margin: 5px;
}

.Button:hover {
  cursor: pointer;
  background-color: #2142b2;
  color: #fff;
}
